@import url('https://fonts.googleapis.com/css2?family=Slackside+One&display=swap');
*, html { padding: 0; margin: 0; box-sizing: border-box; overscroll-behavior: none;}

:root {
    --hoogte-header: 10rem;
    --hoogte-footer: 3rem;
    --breedte-mandala: 14rem;
    --afstand-groot: 1.4rem;
    --afstand-klein: 0.6rem;
    --kleur-achtergrond: rgb(255, 251, 244);
    --kleur-tekst: rgb(83, 35, 1);
}

h1 {font-size: 4rem; font-family: "Slackside One", cursive;}
a {color: var(--kleur-tekst);}
p {font-size: 1rem; line-height: 1.6rem;} 

body {
    width: 100vw;
    height: 100svh; 
    overflow-x: hidden;
    color: var(--kleur-tekst);
    background-color: var(--kleur-achtergrond);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    width: 100%;
    height: var(--hoogte-header);
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

h1 a {
    text-decoration: none;
}

nav {
    width: 100%;
    max-width: 690px;

    display: flex;
    justify-content:space-evenly;

    margin-top: var(--afstand-klein);
}

nav a {
    width: calc(100% / 3);
    text-align: center;
    font-size: 1.1rem;
    /* font-family: "Slackside One", cursive; */
}

nav a.actief {
    text-decoration: none;
    font-weight: 600;
}

main {
    width: 100%;
    min-height: calc(100svh - var(--hoogte-header) - var(--hoogte-footer));

    padding: 0 var(--afstand-klein);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    width: 100%;
    height: var(--hoogte-footer);

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0 var(--afstand-klein);
}

footer * {
    font-size: 0.9rem;
}

@media screen and (min-width: 600px) {
    footer { justify-content: center;} 
}


main div#mandala {margin: var(--afstand-groot) 0;}

p {width: 100%; text-align: left; margin: var(--afstand-klein) 0;}
@media screen and (min-width: 600px) {
    p { text-align: center;} 
}

div#mandala img{width: var(--breedte-mandala); -webkit-animation:spin 356s linear infinite; -moz-animation:spin 356s linear infinite; animation:spin 356s linear infinite;}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

